.result {
  height: 120px;
  background-color: rgba(0, 0, 0, .75);
  width: 100%;
  word-wrap: break-word;
  word-break: break-all;
}

.result p {
  font-size: 50px;
  margin: 5px;
  font-family:sans-serif;
  ;

}

.calculator-body {
  max-width: 400px;
  margin: auto;
  color:rgb(52, 237, 31);
}

/* Nice use of grid here! */
.button {
  display: grid;
  grid-template-columns: repeat(4,100px);
  grid-template-rows: minmax(120px,auto) repeat(5,100px);
  justify-content: center;
  align-content: center;
  min-height: 100vh;

}

button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255,255,255,.75);
  
}

.button > button:hover {
  background-color:rgba(255,255,255,.9);
}
